.comments__container {
    display: flex;
    max-width: 1184px;
    margin: 0 auto 102px;

}

.comment__quote {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 24px;

    color: #FFFFFF;

}

.comment {
    width: calc(33% - 10px);
    margin-left: auto;
    margin-right: auto;

}

.comment__img {
    border-radius: 50%;
    margin-bottom: 42px;
}

.comment__author {
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 24px;

    color: #FFFFFF;
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .comment {
        margin-left: 48px;
        margin-right: 48px;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .comments__container {
        flex-direction: column;

    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .comment {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 0 16px 48px;

    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .comment__img {

        align-self: center;
        margin-bottom: 17px;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .comment__author {
        align-self: center;
    }
}