doctype html
html
  head
    title Путешествия по России
    link(rel="stylesheet" type="text/css" href="index.css")
    meta(name="viewport" content="width=device-width")
  body.body
    .page
        header.header
            .header__logo
            a.header__lang.link( href="#") Ru
            a.header__lang.link( href="#") En
        section.lead
            h1.lead__title Путешествия по России
            p.lead__subtitle Настоящая страна не в выпусках новостей, а здесь.
        footer.footer