doctype html
html
  head
    title Путешествия по России
    link(rel="stylesheet" type="text/css" href="index.css")
    meta(name="viewport" content="width=device-width")
  body.body
    
    header.header
        .header__logo
        a.header__lang.link( href="#") Ru
        a.header__lang.link( href="#") En

    section.lead
        h1.lead__title Путешествия по России
        p.lead__subtitle Настоящая страна не в выпусках новостей, а здесь.
        .lead__image
        .lead__caption ваша полка - верхняя
    section.intro
        h2.intro__title Чего мы там не видели?
          p.intro__content-row По опросам ВЦИОМ, 95% россиян мечтают куда-нибудь поехать, но только 36% планируют провести отпуск в родной стране. Мол, чего мы тут, дома, не видели? На самом деле, Россия — это целая вселенная с ласковым морем юга, густыми лесами Саян и суровыми льдами плато Путорана. А ещё увидеть все эти красоты можно без миллионов на счету, загранпаспорта и многочасовых перелетов. Как, например, Вера Башмакова — смелая молодая мама, которая взяла в охапку троих детей, усадила их в свою «Ладу» и проехала 20 тысяч километров по родной стране. Мы выбрали и описали некоторые интересные места, достойные вашего отпуска.    
        ul.intro__list 
          li Часовых поясов 
            span.intro__number  11
          li Объектов природного наследия ЮНЕСКО
            span.intro__number  12
          li Объектов культурного наследия ЮНЕСКО
            span.intro__number  16
          li Природных заповедников 
            span.intro__number  105
          li Аэропортов
            span.intro__number  241
    section.photo-grid
        img.photo-grid__item(src="/blocks/photo-grid/grid-1.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-2.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-3.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-4.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-5.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-6.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-7.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-8.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-9.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-10.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-11.jpg")
        img.photo-grid__item(src="/blocks/photo-grid/grid-12.jpg")