.intro__list {

    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 20px;
    list-style: none;
    padding: 0;
    color: #FFFFFF;
    margin: 0;
}


@media screen and (max-width: 767.98px) {
    .intro__list {
        font-size: 12px;
        line-height: 19px;
        width: 100%;


    }
}