@import url(__logo/header__logo.css);
@import url(__lang/header__lang.css);
@import url(__lang/_active/header__lang_active.css);

.header {
    display: flex;
    flex-direction: row;

    width: 1184px;
    margin: 30px auto 0;
}

@media screen and (min-width: 1400px) {
    .header {
        width: 1184px;
        margin: 0 auto;
    }
}


/* md */
@media screen and (min-width: 1024px) and (max-width: 1239.98px) {
    .header {
        width: 100%;
        padding: 0 48px;

    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .header {
        width: 100%;
        padding: 0 24px;
    }
}


/* xs */
@media screen and (max-width: 767.98px) {
    .header {
        width: 100%;
        padding: 0 16px;

    }
}