.place__header-title {
    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
    max-width: 457px;


    color: #FFFFFF;

}


@media screen and (max-width: 767.98px) {
    .place__header-title {
        margin: 0 16px 32px;
        font-size: 32px;
        line-height: 35px;


    }
}