.video__icon-play {
    background-image: url(../video__icon_play.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 41px;
    height: 41px;

    margin-top: 30px;
    margin-bottom: 94px;
}

/* md */
@media screen and (min-width: 1024px) and (max-width: 1278.98px) {
    .video__icon-play {
        margin-bottom: 55px;
    }
}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__icon-play {
        top: 24px;
        left: 24px;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .video__icon-play {
        top: 16px;
        left: 16px;
        width: 30px;
    }
}