.video__item_kamchatka {
    background-image: url(../_kamchatka/kamchatka.jpg);
}

.video__item_kamchatka:hover {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(../_kamchatka/kamchatka.jpg);
    background-size: cover;

}