.video__info {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin-left: 30px;


}

/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .video__info {
        left: 24px;
        bottom: 24px;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .video__info {
        left: 16px;
        bottom: 16px;
    }
}