.lead__subtitle {
    width: 65%;

    margin: 40px auto 70px;

    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #FFFFFF;

}

/* xs */
@media screen and (max-width: 767.98px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 300px;
        margin: 8px auto 31px;
    }
}