.video__subtitle {
    font-size: 14px;
    line-height: 15px;
    margin: 0;
    color: #FFFFFF;
    margin-bottom: 30px;
    text-decoration: none;


}

/* sm- */
@media screen and (max-width: 768px) {
    .video__subtitle {
        font-size: 12px;
        line-height: 14px;
    }
}