.content-title {
    max-width: 800px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto 40px;
    color: #FFFFFF;
}

/* md */
@media screen and (min-width: 1024px) and (max-width: 1278.98px) {
    .content-title {
        margin-bottom: 30px;
    }
}


/* sm */
@media screen and (min-width: 768px) and (max-width: 1023.98px) {
    .content-title {
        margin-bottom: 24px;
        font-size: 42px;
        line-height: 46px;
        max-width: 660px;
    }
}

/* xs */
@media screen and (max-width: 767.98px) {
    .content-title {
        margin-bottom: 16px;
        font-size: 32px;
        line-height: 35px;
        max-width: 350px;
    }
}